<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <h1>Create New Account</h1>
    <hr>
    <form action="{% url 'add_acc' %}" method="post">
        {% csrf_token%}
        <h4>name:</h4><input type="text" name="name" required>
        <h4>username:</h4><input type="text" name="username" required>
        <h4>password:</h4><input type="password" name="password" required>
        <h4>reenter password:</h4><input type="password" name="repassword" required>
        <br>
        <br>
        <br>
        <input type="submit" value="Create">
        <input type="reset">

    </form>

</body>
</html>
