<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <center>
    <h1>Login</h1><hr>
    <form action="{% url 'check_login' %}" method="post">
        {% csrf_token%}
        <h4>username:</h4><input type="text" name="username">
        <h4>password:</h4><input type="password" name="password">
        <br>
        <br>
{% if messages %}
    {%for message in messages%}
        {{message}}
    {%endfor%}
{% endif %}
        <br>
        <br>
        <input type="submit" value="login">
        <input type="reset">
    </form>

    <br>
    <br>
    <a href="{% url 'create_acc' %}">Create new Account</a>
    </center>
</body>
</html>
