<html>
<head>
    <title></title>
</head>
<body>
    <center><h1>Article</h1></center>
    <hr>
    <h4>Article title:&nbsp;&nbsp;&nbsp;{{ search_article.title }}</h4>
    <h4>Article creator:&nbsp;&nbsp;&nbsp;{{ search_article.user_fk }}</h4>
    <h4>Article published date:&nbsp;&nbsp;&nbsp;{{ search_article.pub_date }}</h4>
    <h4>Article content:</h4>
        <p><textarea cols="50" rows="10" readonly>{{search_article.content}}</textarea></p>
    <a href="{% url 'index' %}"><button>Back</button></a>
</body>
</html>
